.imagenPesada{
    width: 800px;
    height: 600px;
}
.imagenPesada img{
    width: 600px;
    height: 400px;
}
.imagenPesada p{
    background-color: white;
    width: 400px;
    border: 1px solid black;
}

.imagenSinSaturacion img{
    width: 600px;
    height: 400px;
}
.tiempoDeCarga p{
    width: 500px;
    border: 1px solid black;
    background-color: bisque;
}
.iconos img{
    border: 1px solid black;
}
